.card {
  height: 281px;
  border-radius: 0;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
}

.card__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20;
}
